= form_for @item do |f|
  = f.hidden_field :parent_item_id
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .row.fileupload-buttonbar
    .col-md-7
      %span.btn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span Add files...
        = f.file_field :content, multiple: true

      #progress.progress
        .progress-bar.progress-bar-success

  .row
    .col-md-12
      #files.files

