.page-header
  %h1= t('items.index.files')

= render_breadcrumbs

= link_to t('items.index.upload'), new_item_path(root: @item.try(:id)), type: :button, class: 'btn btn-info'

.row
  .col-md-8
    %h5
      = Item.human_attribute_name('name')
  .col-md-2
    %h5
      = Item.human_attribute_name('file_size')
  .col-md-2
    %h5
      = Item.human_attribute_name('updated_at')

%ul.list-group#items
  = render @items

