= render_breadcrumbs

%ul.list-group
  = render @items

/
  %table.table.table-fixedheader#items
    %thead
      %tr
        %th= Item.human_attribute_name('name')
        %th= Item.human_attribute_name('mime_type')
        %th= Item.human_attribute_name('updated_at')

    %tbody

%br

= link_to 'New Item', new_item_path
