.page-header
  %h1= t('items.index.files')

= render_breadcrumbs

= link_to t('items.index.new'), '#item_upload', 'data-remote' => new_item_path(root: @item.try(:id)), :class => 'btn btn-info', 'data-toggle' => 'modal'

.row
  .col-md-7
    %h5
      = Item.human_attribute_name('name')
  .col-md-2
    %h5
      = Item.human_attribute_name('file_size')
  .col-md-2
    %h5
      = Item.human_attribute_name('updated_at')
  .col-md-1

%ul.list-group#items
  = render collection: @items, partial: 'item'

= modal_dialog id: 'item_preview', 
  header: { show_close: true, dismiss: 'modal', title: 'Preview' },
  body: '',
  footer: content_tag(:button, 'Save', class: 'btn') 

#item_upload.modal.fade{:tabindex => "-1", :role => "dialog", 'aria-hidden'=>"true"}
  .modal-dialog.modal-lg
    .modal-content
