= render_breadcrumbs

= link_to 'New Item', new_item_path(root: @item.try(:id))

.row
  .col-md-8
    %h5
      = Item.human_attribute_name('name')
  .col-md-2
    %h5
      = Item.human_attribute_name('file_size')
  .col-md-2
    %h5
      = Item.human_attribute_name('updated_at')

%ul.list-group
  = render @items

%br

