%h1 Listing items

%table
  %tr
    %th Name
    %th Permissions
    %th Parent file
    %th Account
    %th File type
    %th Mime type
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.permissions
      %td= item.parent_file_id
      %td= item.account_id
      %td= item.file_type
      %td= item.mime_type
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
