%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Permissions:
  = @item.permissions
%p
  %b Parent file:
  = @item.parent_file_id
%p
  %b Account:
  = @item.account_id
%p
  %b File type:
  = @item.file_type
%p
  %b Mime type:
  = @item.mime_type

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
